# [ ] The `data` list contains information about a company's employees.
# Use the `data` list and an appropriate loop to create a dictionary of employees.
# Use IDs (as keys) and names (as values).
# Ignore the email addresses for now. 
# The created dictionary should look like: 
# {57394: 'Suresh Datta', 48539: 'Colette Browning', 58302: 'Skye Homsi', 48502: 'Hiroto Yamaguchi', 48291: 'Tobias Ledford', 48293: 'Jin Xu', 23945: 'Joana Dias', 85823: 'Alton Derosa'} 
# data = [["Suresh Datta", 57394, "suresh@example.com"], ["Colette Browning", 48539, "colette@example.com"], ["Skye Homsi", 58302, "skye@example.com"], ["Hiroto Yamaguchi", 48502, "hiroto@example.com"], ["Tobias Ledford", 48291, "tobias@example.com", "Tamara Babic", 58201, "tamara@example.com"], ["Jin Xu", 48293, "jin@example.com"], ["Joana Dias", 23945, "joana@example.com"], ["Alton Derosa", 85823, "alton@example.com"]]

In [6]:
data = [["Suresh Datta", 57394, "suresh@example.com"], ["Colette Browning", 48539, "colette@example.com"], ["Skye Homsi", 58302, "skye@example.com"], ["Hiroto Yamaguchi", 48502, "hiroto@example.com"], ["Tobias Ledford", 48291, "tobias@example.com"], ["Tamara Babic", 58201, "tamara@example.com"], ["Jin Xu", 48293, "jin@example.com"], ["Joana Dias", 23945, "joana@example.com"], ["Alton Derosa", 85823, "alton@example.com"]]
for num in data:
    name = num[0:1]
    print(name)

['Suresh Datta']
['Colette Browning']
['Skye Homsi']
['Hiroto Yamaguchi']
['Tobias Ledford']
['Tamara Babic']
['Jin Xu']
['Joana Dias']
['Alton Derosa']

# [ ] Use the `records` dictionary in a program that asks the user for an ID and prints the name of the associated employee. 
# Display an appropriate message if the ID is not found in the dictionary
# records = {57394: 'Suresh Datta', 48539: 'Colette Browning', 58302: 'Skye Homsi', 48502: 'Hiroto Yamaguchi', 48291: 'Tobias Ledford', 48293: 'Jin Xu', 23945: 'Joana Dias', 85823: 'Alton Derosa'}

In [12]:
records = {57394: 'Suresh Datta', 48539: 'Colette Browning', 58302: 'Skye Homsi', 48502: 'Hiroto Yamaguchi', 48291: 'Tobias Ledford', 48293: 'Jin Xu', 23945: 'Joana Dias', 85823: 'Alton Derosa'}
try:
    search = int(input("what is your id:"))
    if search in records:
        print("Welcome",records[search])
    else:
        print("Result not found")
except:
    print("INVALID INPUT")

what is your id:58302
Welcome Skye Homsi

# [ ] Use the `records` dictionary in a program to ask the user for an ID then delete the employee record associated with the ID
# The program should display an appropriate message if the ID is not found in the dictionary.
# records = {57394: 'Suresh Datta', 48539: 'Colette Browning', 58302: 'Skye Homsi', 48502: 'Hiroto Yamaguchi', 48291: 'Tobias Ledford', 48293: 'Jin Xu', 23945: 'Joana Dias', 85823: 'Alton Derosa'}

In [20]:
records = {57394: 'Suresh Datta', 48539: 'Colette Browning', 58302: 'Skye Homsi', 48502: 'Hiroto Yamaguchi', 48291: 'Tobias Ledford', 48293: 'Jin Xu', 23945: 'Joana Dias', 85823: 'Alton Derosa'}
print("Input your id to delete your account")
try:
    i_d = int(input("What is your IDENTIFICATION NUMBER?"))
    if i_d in records:
        records.pop(i_d)
        print("Done!!!")
    else:
        print("ID not found")
except:
    print("IVALID INPUT")

Input your id to delete your account
What is your IDENTIFICATION NUMBER?48539
Done!!!